html {
    height: 100%
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.flex-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.test {
    border: 1px black dotted;
    background-color: rgba(0, 0, 0, 0.05);
}

.video-container {
    flex: 3;
    text-align: center;
    height: 100%;
}

.subtitle-container {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.subtitle-entry {
    
}

.subtitle {
    width: 99%;
    resize: vertical;
}

#player {
    min-height: 250px;
    max-height: 450px;
    height: 100%;
    width: 75%;
}