html {
    height: 100%
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.flex-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.test {
    background-color: rgba(0, 0, 0, 0.1);
    /*border: 1px black solid;*/
}

.video-container {
    flex: 3;
    text-align: center;
    height: 100%;
}

#subtitle-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
}

.subtitle-entry {
    margin: 8px 0 8px 0;
    padding: 5px;
}

.subtitle {
    width: 99%;
    resize: vertical;
}

.inline {
    display: inline;
}

.time {
}

.time-button {
    float: right;
    width: 30px;
    height: 25px;
}

#player {
    min-height: 250px;
    max-height: 450px;
    height: 100%;
    width: 75%;
}